.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.close{
  background: none;
  border: none;
  font-weight: bolder;
  font-size: x-large;
}

.modal-body{
  height: 70vh;

}
/* .modal-title{
  
} */

.app-bar{
  background-color: rgb(226, 238, 253);
  border-bottom: 2px solid rgb(197, 220, 250);
  height: 50px;
  margin-bottom: 5px;
}
.app-bar-text{
  font-size: 25px;
  padding: 5px;
  /* padding-right: 20px; */
  font-weight: 600;
  letter-spacing: 1px;
  color: #0a2f63;
  display: inline-block;
}
.burger{
  height: 50px;
  float: left;
  padding: 11px;
}
.edit-icon{
  height: 50px;
  float: right;
  padding: 16px;
}